@model IEnumerable<FoodApplication.Models.ReportTarget>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TargetId">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
